*.a
*.deps
*.dylib
*.libs
*.o
*.plist
*.so*
*.lo
*~
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
Makefile.in
Testing/
cmake_install.cmake
install_manifest.txt
mttest
mttest.exe
libmtwist.la
