*.a
*.deps
*.dylib
*.libs
*.lo
*.log
*.o
*.plist
*.so*
*.trs
*~
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
Makefile.in
Testing/
cmake_install.cmake
install_manifest.txt
libmtwist.la
mttest
mttest.exe
